*{
   margin:0;
   padding:0;
}

body{
   font-family: 'arial', 'Arial Narrow', Arial, sans-serif;
   font-size:18px;
   color:#202020;
   background-color:#fff;
   font-weight:normal;
}


#madel {
   border-radius: 50%;
}








.subcontent{
   background-color: #C8B6A6;
   padding:60px 0;

}

.subcontent p{
    float: center;
}

.subcontent h2{
   margin-bottom:15px;
   text-align:center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size:48px;
}


.project{
   padding:70px 0;
}

.project h3{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size:48px;
   margin-bottom: 40px;
   text-align: center;
}

.box {
   margin-right:45px;
   float:left;
   font-size: 16px;
}

.boxfirst {
   width:300px;
}

.boxsecond {
   width:300px;
}

.boxlast{
   margin-right: 0px;
   width:300px;
}

.box h6{
   font-size:25px;
   margin:10px 0;
}

.box p{
   text-align:justify;
   line-height: 1.4em;
}

.box a{
   background-color: #433bff;
   color:#fff;
   text-decoration: none;
   padding:10px 15px;
   display: inline-block;
   margin-top:10px;
}

#boxone {
   text-align: justify;
}

#code {
   font-weight: bold;
}

#create {
   font-weight: bold;
}

#captivate {
   font-weight: bold;
}

.subfooter{
   background-color: #8D7B68;
   padding:50px 0;
   text-align: center;
}

.subfooter h4{
   font-size: 48px;
   margin-bottom:20px;
   color:#000;
   font-weight: bold;
}
.subfooter p{
   font-size: 30px;
   color:#000;

}

.pangit {
   text-align: justify;
}

.footer{
   background-color: #A4907C;
   padding:40px 0;
}

.footer p{
   color:#fff;
   text-align: center;
}

        
body{
   font-family: 'arial', 'Arial Narrow', Arial, sans-serif;
   font-size:18px;
   color:#202020;
   background-color:#F1DEC9;
   font-weight:normal;
}


.header img{
   float:left;
   width: 100%;  
}

#madel {
   border-radius: 50%;
}

.inner{
   width:990px;
   margin:auto;
   padding: 30px 0;
}

.content p {
   background-color:#8D7B68;
   border: 5px solid #F1DEC9;
}

.content h2 {
   background-color: burlywood;
   border: 5px solid #F1DEC9;
}

p{
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 20px;
	font-size:17px;
}

aside {
	float: right;
	width: 220px;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 20px;
}

aside ul{
	padding:0;
}

aside h3 {
	background-color: #A4907C;
	color: #fff;
	padding: 15px 0;
	text-align: center;
}	

aside li {
	list-style-type: none;
	padding-top: 10px;
	border-bottom: solid 1px #000;
	text-align: center;
}

aside ul li a {
   color:#000;
}

aside a {
	text-decoration: none;
	line-height: 20px;
	margin-left: 15px;
	font-family: 'verdana',sans-serif;
}

aside a:hover {
	color:#000;
}

footer{
   background-color: #A4907C;
   padding:40px 0;
}

footer p{
   color:#fff;
   text-align: center;
}


.project h3{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size:48px;
   margin-bottom: 40px;
   text-align: center;
}

.box {
   margin-right:45px;
   float:left;
   font-size: 16px;
}

.boxfirst {
   width:286px;
}

.boxsecond {
   width:295px;
}

.boxlast{
   margin-right: 0px;
   width:298px;
}

.box h6{
   font-size:25px;
   margin:10px 0;
}

.box p{
   text-align:justify;
   line-height: 1.4em;
}

.box a{
   background-color: #433bff;
   color:#fff;
   text-decoration: none;
   padding:10px 15px;
   display: inline-block;
   margin-top:10px;
}

.content {
   padding:60px 0;
}

.content .left{    
    float:left;
    margin-right:60px;
    padding-top:15px;
    width:214px;  
}

.content .left img {
   width: 300px;
}

.content .leftlast img {
   width: 300px;
   float: left;
}

.content .right{
   float:right;
   width:695px;
   text-align:justify;

}

.content .right h1{
   margin-bottom:15px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size:48px;
}

.footer{
   background-color: #A4907C;
   padding:40px 0;
}

.footer p{
   color:#fff;
   text-align: center;
}



.blocker{
   clear:both !important;
}

.home-link {
   background-color: transparent; /* Set the initial background color */
   transition: background-color 0.3s; /* Add a smooth transition effect */
}

.home-link:hover {
   background-color: #fff; /* Change the background color on hover */
}
